@charset "utf-8";

@font-face {
    src: url("fonts/AfaratibnBlady.ttf");
    font-family: afarat;
}

@font-face {
    src: url("fonts/comic.ttf");
    font-family: comic;
}

html,
html * {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 64px;
    background-color: black;
    position: fixed;
    z-index: 1;
}

.logo-content {
    height: 32px;
}

.type {
    display: none;
}

.type-content {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.menu {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
}

.menu ul {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding-top: 16px;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0px 12px 0 12px;
    display: block;
}

/*index.html*/
.header-img {
    padding-top: 64px;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    display: block;
    padding: 64px 0 32px 0;
}

/*.about {
    background-color: gold;
    background-image: linear-gradient(gold, lightseagreen);
}*/

.about-container {
    display: block;
    padding: 0 32px 32px 32px;
}

.about-container p {
    color: black;
    line-height: 1.8;
}

/*.music {
    background-color: lightseagreen;
    background-image: linear-gradient(lightseagreen, lightcoral);
}*/

.vinyl-container {
    height: auto;
    max-width: 100%;
    padding: 0 32px 32px 32px;
}

.vinyl-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.music p {
    padding: 0 32px 32px;
    line-height: 2;
}

.music a {
    color: black;
}

.vinyl-container a {
    color: black;
}

.spotify-container {
    text-align: center;
    padding-bottom: 32px;
}

.spotify-container iframe {
    border: 5px gold solid;
}

.video {
    padding: 0 32px 64px 32px;
    //background-color: lightcoral;
    //background-image: linear-gradient(lightcoral, #02D69D);
}

.turtle {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.turtle iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kegelbahn {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.kegelbahn iframe {
    position: absolute;
    padding-top: 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.shows {
    background-color: #02D69D;
}*/

.shows-container {
    display: block;
    text-align: center;
    padding-bottom: 32px;
}

.shows-container p {
    line-height: 1.8;
}

.impressum-content {
    //background-color: #02D69D;
    padding: 64px 0 32px 0;
}

.impressum-content a {
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
}

/*imprint.html*/
.logo {
    text-align: center;
}

.imprint {
    background-color: red;
}
.imprint-content {
    width: 100%;
    padding: 64px 0 64px 0;
}

.imprint-content h2 {
    font-size: 18px;
    padding: 36px 36px 0 36px;
    font-family: comic;
    color: magenta;
}

.imprint-content p {
    padding: 16px 36px;
    font-family: comic;
    color: magenta;
    text-align: left;
    line-height: 1.4;  
}

.footer-info {
    padding: 48px;
    background-color: black;
}

.footer-info p {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;

}

@media only screen and (min-width: 768px) {
    h1 {
        padding: 64px 0 32px 0;
    }

    .about-container {
        padding: 0 160px 32px 160px;
    }

    .vinyl-container {
        height: auto;
        max-width: 100%;
        padding: 0 160px 32px 160px;
    }

    .music p {
        padding: 0 160px 32px 160px;
    }

    .video {
        padding: 0 160px 64px 160px;
    }
}

@media only screen and (min-width: 1024px) {
    .type {
        display: block;
    }

    .about-container {
        padding: 0 220px 32px 220px;
    }

    .vinyl-container {
        height: auto;
        max-width: 100%;
        padding: 0 220px 48px 220px;
    }

    .music p {
        padding: 0 220px 48px 220px;
    }

    .video {
        padding: 0 220px 48px 220px;
    }

    .imprint-content h2 {
        padding: 48px 220px 0 220px;
    }

    .imprint-content p {
        padding: 16px 220px;
    }
}

@media only screen and (min-width: 1280px) {
    .menu ul li a {
        padding: 0 18px 0 18px;
    }

    .about-container {
        padding: 0 300px 32px 300px;
    }

    .vinyl-container {
        height: auto;
        max-width: 100%;
        padding: 0 300px 64px 300px;
    }

    .music p {
        padding: 0 300px 48px 300px;
    }

    .video {
        padding: 0 300px 64px 300px;
    }
    
    .imprint-content h2 {
        padding: 48px 300px 0 300px;
    }

    .imprint-content p {
        padding: 16px 300px;
    }
}

@media only screen and (min-width: 1529px) {
    .menu ul li a {
        padding: 0 16px 0 16px;
    }

    .about-container {
        padding: 0 440px 32px 440px;
    }

    .vinyl-container {
        height: auto;
        max-width: 100%;
        padding: 0 440px 64px 440px;
    }

    .music p {
        padding: 0 440px 48px 440px;
    }

    .video {
        padding: 0 440px 64px 440px;
    }

    .imprint-content h2 {
        padding: 48px 440px 0 440px;
    }

    .imprint-content p {
        padding: 16px 440px;
    }
}

@media only screen and (min-width: 1920px) {
    .type {
        display: block;
    }

    .about-container {
        padding: 0 640px 32px 640px;
    }

    .vinyl-container {
        height: auto;
        max-width: 100%;
        padding: 0 640px 32px 640px;
    }

    .music p {
        padding: 0 640px 32px 640px;
    }

    .video {
        padding: 0 640px 64px 640px;
    }

    .imprint-content h2 {
        padding: 48px 640px 0 640px;
    }

    .imprint-content p {
        padding: 16px 640px;
    }
}
