@charset "utf-8";

@font-face {
    src: url("fonts/AfaratibnBlady.ttf");
    font-family: afarat;
}

@font-face {
    src: url("fonts/comic.ttf");
    font-family: comic;
}

html,
html * {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 4em;
    background-color: black;
    position: fixed;
    z-index: 1;
}

.logo-content {
    width: 3em;
    padding-top: 0.5em;
}

.social {
    width: 1.6em;
    padding-top: 1.2em;
}

.type {
    display: none;
}

.type-content {
    margin-top: 1.4em;
    color: white;
    text-decoration: none;
}

.menu {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
}

.menu ul {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    font-family: afarat;
    font-weight: bold;
    padding: 0em 1em 0 1em;
    display: block;
}

/*index.html*/
.header-img {
    padding-top: 4em;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    display: block;
    padding: 1.5em 0 1em 0;
}

.about {
    //background-color: gold;
}

.about-container {
    display: block;
    padding: 0em 2em 0em 2em;
}

.about-container p {
    color: black;
    line-height: 1.8;
}

.fart {
    color: black;
}

.music {
    //background-color: lightseagreen;
}

.vinyl-container {
    height: auto;
    max-width: 100%;
    padding: 0 2em 2em 2em;
}

.vinyl-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.music p {
    padding: 0 2em 2em;
    line-height: 2;
}

.music a {
    color: black;
}

.vinyl-container a {
    color: black;
}

.spotify-container {
    display: block;
    text-align: center;
}

.spotify-container iframe {
    border: 5px gold solid;
    min-width: 300px;
    max-width: 900px;


}

.video {
    padding: 0 2em 4em 2em;
    //background-color: lightcoral;
}

.turtle {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.turtle iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kegelbahn {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.kegelbahn iframe {
    position: absolute;
    padding-top: 2em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shows {
    //background-color: #02D69D;
}

.shows-container {
    display: block;
    text-align: center;
    padding-bottom: 3em;
}

.shows-container p {
}

.impressum-content {
    padding: 3em;
}

.impressum-content a {
    color: black;
    display: block;
    text-align: center;
}

/*imprint.html*/
.logo {
    text-align: center;
}

.imprint {
    background-color: red;
}
.imprint-content {
    width: 100%;
    padding: 4em 0 4em 0;
}

.imprint-content h2 {
    font-size: 18px;
    padding: 2em 2em 0 2em;
    font-family: comic;
    color: magenta;
}

.imprint-content p {
    padding: 1em 36px;
    font-family: comic;
    color: magenta;
    text-align: left;
    line-height: 1.4;  
}

.footer-info {
    padding: 3em;
    background-color: black;
}

.footer-info p {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;

}

@media only screen and (min-width: 768px) {
    .type {
        display: block;
    }

    h1 {
        padding: 2em 0 1em 0;
    }

    .about-container {
        padding: 0 10em 0em 10em;
    }

    .vinyl-container {
        height: auto;
        max-width: 100%;
        padding: 0 10em 2em 10em;
    }

    .music p {
        padding: 0 10em 2em 10em;
    }

    .video {
        padding: 0 10em 4em 10em;
    }
}

@media only screen and (min-width: 1024px) {
    .type {
        display: block;
    }

    .about-container {
        padding: 0 198px 0em 198px;
    }

    .vinyl-container {
        height: auto;
        max-width: 100%;
        padding: 0 198px 3em 198px;
    }

    .music p {
        padding: 0 198px 3em 198px;
    }

    .video {
        padding: 0 198px 4em 198px;
    }

    .imprint-content h2 {
        padding: 3em 198px 0 198px;
    }

    .imprint-content p {
        padding: 1em 198px;
    }
}

@media only screen and (min-width: 1280px) {
    .type {
        display: block;
    }

    .about-container {
        padding: 0 420px 0em 420px;
    }

    .vinyl-container {
        height: auto;
        max-width: 100%;
        padding: 0 420px 2em 420px;
    }

    .music p {
        padding: 0 420px 3em 420px;
    }

    .video {
        padding: 0 420px 4em 420px;
    }
    
    .imprint-content h2 {
        padding: 3em 420px 0 420px;
    }

    .imprint-content p {
        padding: 1em 420px;
    }
}

@media only screen and (min-width: 1920px) {
    .type {
        display: block;
    }

    .about-container {
        padding: 0 560px 0em 560px;
    }

    .vinyl-container {
        height: auto;
        max-width: 100%;
        padding: 0 560px 2em 560px;
    }

    .music p {
        padding: 0 560px 3em 560px;
    }

    .video {
        padding: 0 560px 4em 560px;
    }

    .imprint-content h2 {
        padding: 3em 560px 0 560px;
    }

    .imprint-content p {
        padding: 1em 560px;
    }
}
